// Size
$mainFontColor: #101010;
$mainFontSize: 18px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$desktopWidth: 1680px;
$desktopMinWidth: 1200px;
$tableWidth: 768px;
$phoneWidth: 480px;

// Main color
$default-color: #ffffff;
$main-color: #1890ff;
$additional-color: #f5ce28;
$light-color: #f1f0ee;
$opacity-light-color: #f1f0eeab;
$opacity-additional-color: #f5ce2878;
